@import "./scss/_globalVariables.scss";

@import "./scss/submissionBox.scss";
@import "./scss/chatItem.scss";
@import "./scss/chatHistory.scss";
@import "./scss/appContainer.scss";
@import "./scss/header.scss";
@import "./scss/footer.scss";
@import "./scss/login.scss";

#root {
	text-align: center;

	margin: 0 0;
	width: 100%;
	height: 100%;

	&>.App {
		margin: auto;
		width: 100vw;
		max-width: $_breakpoint--desktop;
		height: 100vh;
	}
}
