$_breakpoint--desktop: 1280px;
$_breakpoint--tablet: 780px;
$_breakpoint--phone: 375px;
$_breakpoint--lowest-reasonable: 280px;

$_color-background: #242424;
$_color-highlight: #DBDBDB;

$_border-width--default: 2px;

$_border-radius: 1rem;
$_box-shadow: 0 2px 5px hsla(0, 0%, 0%, .2);
$_background-containers: #F8FAFC;