@import "./_globalVariables.scss";

.app-container {
	// border: $_color-highlight $_border-width--default solid;
	border-radius: $_border-radius;

	margin: auto auto;
	width: 90%;
	height: 80%;

	background-color: $_background-containers;	
	padding-top: 5px;
}
