.submission-box {
	border: 3px $_color-highlight solid;

	height: 40px;
	// padding: 15px;
	margin: 5px auto;
	width: 98%;

	// & > input {
	// // suggested width
	// 	width: 80%;
	// }

	// & > button {
	// // suggested width
	// 	width: 80%;
	// }

}
